html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  font-size: .8rem;
}
header {
  padding: 20px;
  background-color: #89ac0f;
  color: #fff;
}
nav {
  padding: 20px;
  background-color: #fcc005;
  color: #000;
  text-transform: uppercase;
}









footer {
  padding: 20px;
  border-top: 20px solid #fcc005;
  background-color: #89ac0f;
  color: #fff;
}
